
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&family=Uchen&display=swap');
body {
    font-family: 'Lobster Two', cursive;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(207,152,228,1) 38%, rgba(0,212,255,1) 100%);
}

#select-pet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.titulo {
    color:tomato ;
    font-size: 50px;
    justify-content: center;
}

.subtitulo {
    color:slategray;
    font-size: 30px;
}

.tarjetas {
    display: flex;
    gap : 10px;
}
.tarjeta-pokego {
    color:tomato ;
    width: 180px;
    height: 100px;
    background: #98e4dc;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid salmon;
    border-radius: 10px;
    display: flex;   
    justify-content: center;
    align-items: center;
}
.tarjeta-pokego img{
    width: 80px;
    
}
input {
    display: none;
}

#btn-pet{
    color:chocolate ;
    width: 180px;
    height: 40px;
    background-color:aqua;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
    border: 1px solid skyblue;
    border-radius: 10px;
    font-size: absolute;
    
}