
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&family=Uchen&display=swap');
body {

    background-image: radial-gradient(red, green, blue);
    font-family: 'Lobster Two', cursive;
}

#select-pet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.titulo {
    color:tomato ;
    font-size: 50px;
    justify-content: center;
}

.subtitulo {
    color:slategray;
    font-size: 30px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap : 10px;
}
.tarjeta-pokego {
    color:tomato ;
    width: 180px;
    height: 100px;
    background: #98e4dc;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid salmon;
    border-radius: 10px;
    display: flex;   
    justify-content: center;
    align-items: center;
}
.tarjeta-pokego img{
    width: 80px;
    
}
input {
    display: none;
}

#btn-pet{
    color:chocolate ;
    width: 180px;
    height: 40px;
    background-color:aqua;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
    border: 1px solid skyblue;
    border-radius: 10px;
    font-size: absolute;
    
}

#select_attack {
    flex-direction: column;
    align-items: center;
}

.btn_ataque{
    background-color: cornflowerblue;
    border-radius: 10px;
    font-size: absolute;
    width: 180px;
    height: 40px;
    border: 1px solid skyblue;
    padding: 10px;
    gap : 10px;
}


#mensajes{width:280px;background:#eee;padding:20px;margin-top:20px;border-radius:20px;display:flex;align-items:center;flex-direction:column}
#boton-reiniciar{border:none;color:#11468f;font-family:poppins,sans-serif}
.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}

.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:360px){
    .tarjetas {
        flex-direction: column;
    }
    .tarjetas-ataques {
        flex-direction: column;
    }
}